@import "./color_schemes/light";

$background-color: #5DADEC; // Sky Blue
$text-color: #CE3B30; // Mario Red
$link-color: #FFD700; // Super Star Yellow
$border-color: #B97A57; // Brick Block Brown
$sidebar-color: #0A7029; // Green Pipe
$header-color: #CE3B30; // Mario Red
