$background-color: $blue-200;  // Sky Blue
$text-color: $red-400;         // Mario Red
$link-color: $yellow-400;      // Super Star Yellow
$border-color: $brown-300;     // Brick Block Brown
$sidebar-color: $green-300;    // Green Pipe
$header-color: $red-400;       // Mario Red